
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Short+Stack&display=swap');

body {
    font-family: 'Short Stack';
    font-size: 120%;
    margin: auto;
}
 nav {
  background-color: #e40808;
  border-top: solid black 1px;
  border-bottom: solid black 1px ;
  display: flex ; /* display the children of this elememnt as flexible boxes */
  align-items: "center"; /* align child flexible boxes in the vertical center */
}
nav p {
  text-align: center;
  flex-basis: 100px; /* give each paragraph the same basic width*/
  flex-grow: 1; /* allows the paragraphs to grow equally */
} 
nav a {
  color: rgb(0, 68, 255);
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #fff700;
}
header {
    display: flex;
    align-items: center;
    background-color: #000dff;
    left: 0; /* star 0 pixels to the left of the viewport */
    width:100%; /* set width to 100 % of the viewport */
}
header h1 {
  font-family: "Gamja Flower";
  font-size: 550%;
  font-weight: lighter;
  color: #fff700;
  margin: 0;
  padding-left: 10px;
  left: 0; /* star 0 pixels to the left of the viewport */
  width:100%; /* set width to 100 % of the viewport */
}
h2 {
  font-family: 'Short Stack';
  color: black;
  font-size: 140%;
}
h1 {
    font-family: 'Short Stack';
    color: black;
    font-size: 160%;
}
.main {
  margin: 0 1em 6em 1em;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1100px;
}
.center {
  text-align: center;
}
.wrap {
  float: right;
}
footer {
  background-color: #fff700; /* backgound or background-color works*/
  position: fixed; /* fix viewport */
  bottom: 0px; /* start 0 pixels from the bottom of the viewport */
  left: 0px; /* star 0 pixels to the left of the viewport */
  width:100%; /* set width to 100 % of the viewport */
  border-top: black 1px; /* have to put the unit, e.g., px or %, if mnot 0 */ 
  height: 3em; /* set the footer elements height to 3 times larger than it's current font size*/
  margin-top: 10px;
  border-radius: 10px;
}

